@import '_variables.scss';
@import '../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

.upper {
    background-color: #f6f6f6;
    border-bottom: 1px solid $default-border-color;

    .nav-tabs {
        position: relative;
        top: 1px;
    }

    .nav-tabs .nav-link {
        color: #999;
        margin-right: 10px;
        border: 1px solid $default-border-color;
        i {
            margin-right: 5px;
        }
    }

    .nav-tabs .nav-link.active {
        color: $body-color;
        border-bottom: 1px solid #fff;
    }
}

h2 {
    border-bottom: 1px solid $default-border-color;
    padding-bottom: 1rem;
}
